body {
  background-color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

ul {
  background-color: rgb(252, 47, 47);
  opacity: .7;
    list-style-type: none;
    margin: 5px;
    padding: 12px;
    overflow: hidden;
    border-radius: 20px;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
    border-radius: 12px;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .active {
      color: black;
    background-color:rgb(255, 251, 251);

  }

  .key {
    border: 2px solid #000;
    border-radius: 15px;
    margin: 2px;
    padding: 2px;
    display: flex;
  }

  .key2 {
    border: .5px solid #000;
    border-radius: 15px;
    margin: 1px;
    padding: 1px;
    display: flex;
  }

  .key * {
    font-size: 25px;
  }
  .keyboard {
    font-size: 120px;
    margin: 100px;
  }


.hero {
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.hero-cta {
  font-size: 30px;
  flex-basis: 800px;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-right: 50px;
  padding: 12px;
  border: solid 4px rgb(54, 54, 116);
}

.hero-cta p {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  opacity: 0.7;
  margin-left: 200px;
  padding:20px;
}

.content {
  align-items: center;
}

.content-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content a {
  padding: 12px;
  margin: 12px;
}

.content button {
    text-align: center;
    width: 110px;
    border: none;
    background: rgb(87, 87, 223);
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
  background-color:#3882f6;
  color: white;
}

.footer {
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}